body, html {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;

    width: 100%;
}

h1, h2, p{
    margin: 5px;
}

.container {
    text-align: center;
    padding: 10%;
    width: 100%;
    max-width: 1200px;

}

.vignettesContainer{
    padding: 0;
    display: inline-flex;
    width: 100%;
    overflow: hidden;
}

.vignette {
    border: 2px solid #000;
    margin: 10px;
    cursor: pointer;
    
    width: 50%;
    max-width: 700px;

    aspect-ratio: 3 / 2;


    display: inline-grid;
    grid-template-columns: 2.5rem auto;
    grid-auto-rows: min-content;

    padding: 1rem;
    box-sizing: border-box;

}

.vignette .chatContainer {
    margin: 0;
    height: fit-content;
    margin-bottom: 2rem;

    min-height: 5rem;
}

.chatgpt {
    color: rgb(13, 13, 13);
    font-family: Söhne,ui-sans-serif,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-feature-settings: normal;
    font-variation-settings: normal;
}

.vignette div{
    
    text-align: left;
}

.vignette .chatLogo{
    
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #7b7b7b;
    padding: 3px;

    margin-left: 0.25rem;
    filter: invert(100%) ;
}

.vignette .chatLogoRobot{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #66d90e;
    padding: 3px;

    margin-left: 0.25rem;
    filter: invert(100%) ;
}

.vignette .chatName {
    font-weight: 600;
}

.vignette .chatContent {
    font-weight: 400;
}

#pageIndex{
    float: right;
    margin-right: 1rem;
    font-style: italic;
}

/* Responsive design for different desktop and laptop screens */
@media (max-width: 1024px) {
    .vignette {
        width: 45%;
    }
}

@media (max-width: 768px) {
    .vignette {
        width: 90%;
    }
}


@keyframes clickAnimation {
    0% {
        background-color: rgba(0, 255, 0, 0.3);
        border-color: green;
    }
    100% {
        background-color: rgba(0, 255, 0, 0);
        border-color: #000;
    }
}

.clicked {
    animation: clickAnimation 0.5s ease-out forwards;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }



  .modern {
    /* Add styles for a modern look */
    font-family: 'Arial', sans-serif;
    background: #f5f5f5;
    padding: 10px;
  }
  
  .outdated {
    /* Add styles for a simple, outdated look */
    font-family: 'Times New Roman', serif;
    background: white;
    display: block;
  }

  .outdated svg {
    display: none;
  }

  .outdated .chatContainer{
  }

  .vignetteDescription{
    font-size: 0.7em;
    position: absolute;
    bottom: 5px;
    color: gray;
    right: 5px;
  }


  .skeleton {
    background-color: #eee;
    border-radius: 4px;
}

.skeleton-text1 {
    height: 16px;
    width: 80%;
    margin-bottom: 8px;
}
.skeleton-text2 {
    height: 16px;
    width: 30%;
    margin-bottom: 8px;
}
.skeleton-text3 {
    height: 16px;
    width: 70%;
    margin-bottom: 8px;
}

/* Animation */
@keyframes pulse {
    0% { background-color: #eee; }
    50% { background-color: #ddd; }
    100% { background-color: #eee; }
}

.skeleton {
    animation: pulse 1.5s infinite ease-in-out;
}

.highlight {
    background-color: rgb(253, 198, 156);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.highlight-description{

    background-color: rgb(253, 198, 156);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
}

.highlight-description-text{
    position: absolute;
    bottom: 1em;
    color: rgb(255, 134, 41);
    font-size: 10px;
}